<%= form_with(model: beer_style) do |form| %>
  <% if beer_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer_style.errors.count, "error") %> prohibited this beer style from being saved:</h2>

      <ul>
        <% beer_style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
