<p id="notice"><%= notice %></p>

<h1>Beer Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beer_styles.each do |beer_style| %>
      <tr>
        <td><%= beer_style.name %></td>
        <td><%= link_to 'Show', beer_style %></td>
        <td><%= link_to 'Edit', edit_beer_style_path(beer_style) %></td>
        <td><%= link_to 'Destroy', beer_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer Style', new_beer_style_path %>
