<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @currency.code %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @currency.symbol %>
</p>

<div class="form-inline">
  <%= button_to 'Edit', edit_currency_path(@currency), class: "btn btn-primary mr-2", method: :get %>
  <%= button_to 'Back', currencies_path, class: "btn btn-secondary", method: :get %>
</div>
