<%= form_with(model: serving_format) do |form| %>
  <% if serving_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(serving_format.errors.count, "error") %> prohibited this serving format from being saved:</h2>

      <ul>
        <% serving_format.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
