<p id="notice"><%= notice %></p>

<h1>Tastings</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Rating</th>
      <th>Price</th>
      <th>Serving format</th>
      <th>Comment</th>
      <th>Beer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tastings.each do |tasting| %>
      <tr>
        <td><%= tasting.place %></td>
        <td><%= tasting.rating_str %></td>
        <td><%= number_to_currency(tasting.price, unit: tasting.currency) %></td>
        <td><%= tasting.serving_format %></td>
        <td><%= tasting.comment %></td>
        <td><%= tasting.beer %></td>
        <td><%= link_to 'Show', tasting %></td>
        <td><%= link_to 'Edit', edit_tasting_path(tasting) %></td>
        <td><%= link_to 'Destroy', tasting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tasting', new_tasting_path %>
