<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @tasting.place %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @tasting.rating %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tasting.price %>
</p>

<p>
  <strong>Serving format:</strong>
  <%= @tasting.serving_format_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tasting.comment %>
</p>

<p>
  <strong>Beer:</strong>
  <%= @tasting.beer_id %>
</p>

<%= link_to 'Edit', edit_tasting_path(@tasting) %> |
<%= link_to 'Back', tastings_path %>
