<p>
  <strong>Beer:</strong>
  <%= @tasting.beer %>
</p>

<p>
  <strong>Place:</strong>
  <%= @tasting.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@tasting.price, unit: @tasting.currency) %>
</p>

<p>
  <strong>Serving format:</strong>
  <%= @tasting.serving_format %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @tasting.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tasting.comment %>
</p>

<div class="form-inline">
  <%= button_to 'Edit', edit_tasting_path(@tasting), class: "btn btn-primary mr-2", method: :get %>
  <%= button_to 'Back', tastings_path, class: "btn btn-secondary", method: :get %>
</div>
