<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Beer style:</strong>
  <%= @beer.beer_style %>
</p>

<p>
  <strong>IBU:</strong>
  <%= @beer.ibu %>
</p>

<p>
  <strong>ABV:</strong>
  <%= @beer.abv_str %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
