<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Beer style:</strong>
  <%= @beer.beer_style %>
</p>

<p>
  <strong>IBU:</strong>
  <%= @beer.ibu %>
</p>

<p>
  <strong>ABV:</strong>
  <%= @beer.abv_str %>
</p>

<div class="form-inline">
  <%= button_to 'Edit', edit_beer_path(@beer), class: "btn btn-primary mr-2", method: :get %>
  <%= button_to 'Back', beers_path, class: "btn btn-secondary", method: :get %>
</div>
